/*
  Layout

  Styles for managing the structural hierarchy of the site.
  Hydeout features the large colored sidebar from Hyde that houses the
  site name, intro, and "footer" content. Sidebar is on top of content on
  mobile and expands into sidebar on larger width displays.

  Sidebar CSS assumes HTML looks like this for post pages:

    body
    > #sidebar
      > header (primary sidebar content -- i.e. title)
        > h1 (home page only, otherwise div or span)
      > secondary nav content we may want to hide on certain pages
    > .container
      > h1 (non-home page)
      > .content

  Basic approach is to color in body, make sidebar background transparent,
  and then fill in the .container or .content elements depending on how far
  we want the sidebar or header to stretch.
*/

body {
  color: rgba(255,255,255,.75);
  background-color: $sidebar-bg-color;
  background-image: linear-gradient(
    to bottom,
    lighten($sidebar-bg-color, 7%),
    darken($sidebar-bg-color, 7%));
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

#sidebar {
  flex: 0 0 auto;
  padding: $section-spacing;

    a {
      color: inherit;
        
      .site-title {
        font-family: $site-title-text;
        font-weight: bolder;
        font-size: $large-font-size;
        color: rgba(255,255,255,.75);
        margin-top: 0;
        margin-bottom: $heading-spacing;
        }
        
    .back-arrow { margin-right: 0.5rem; }
  }
}

// Container is flexbox as well -- we want content div to stretch and fill
.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  > .content {
    flex-grow: 1;
  }
  
  a {
    text-decoration: none;
	-webkit-transition: color 180ms ease;
	-moz-transition: color 180ms ease;
	transition: color 180ms ease;
	color: $link-color;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, #b9c9d7));
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 50%, #b9c9d7 50%);
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 50%, #b9c9d7 50%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, #b9c9d7));
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 50%, #b9c9d7 50%);
	background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, #b9c9d7 50%);
	background-repeat: repeat-x;
	-webkit-background-size: 240px 2px;
	-moz-background-size: 240px 2px;
	-o-background-size: 240px 2px;
	background-size: 240px 2px;
	background-position: 0 1.0625em;
	text-shadow: 2px 1px 0px $nord6,
				-2px 1px 0px $nord6,
				2px 0px 0px $nord6,
				-2px 0px 0px $nord6,
				2px -1px 0px $nord6,
				-2px -1px 0px $nord6;

        &:hover,
        &:focus {
            color: $link-color-active;
            text-decoration: none;
              }
	}
  a.return-link {
    text-decoration: none;
    text-shadow: none;
    font-weight: bold;
    color: $nord15;
    }
    
  figcaption > small {
    font-style: italic;
    font-weight: lighter;
  }
  
  figcaption + p {
    margin-top: 2rem;
  }
  
}

.content {
  background: $body-bg;
  color: $body-color;
  padding: $section-spacing;
}




/* -----------------------------------------------------------
  Mobile view
----------------------------------------------------------- */

// Hide secondary nav content in sidebar
// Hide lead paragraph in sidebar
#sidebar {
  header ~ *, header ~ nav, p.lead {
    display: none;
  }
}

// Make header elements blend into sidebar / background
.container > header {
  background: transparent;
  color: white;
  margin: ($heading-spacing - $section-spacing)
          $section-spacing
          $section-spacing;

  h1, h2 {
    color: white;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


/* -----------------------------------------------------------
  Mobile view for home page)
----------------------------------------------------------- */

.home #sidebar {

  // Center sidebar content
  text-align: center;

  // Bigger title
  .site-title {
    font-size: 3.25rem;
    color: white;
  }

  // Show secondary nav content + lead
  header ~ *, p.lead {
    display: block;
  }

  header {
    ~ nav {
      display: flex;
    }
  }

  // Slightly more bottom padding to compensate for heading not match 100% of
  // line-height on top
  > *:last-child {
    margin-bottom: 0.5rem;
  }
}


/* -----------------------------------------------------------
  Tablet / Desktop view
----------------------------------------------------------- */

@media only screen and (min-width: $large-breakpoint) {
  body {
    flex-direction: row;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    > * { max-height: 100vh; 
          overflow-y: scroll; 
          -webkit-overflow-scrolling: touch;
          }
  }

  /* Undo mobile CSS */

  #sidebar, .home #sidebar {
    width: $sidebar-width;
    text-align: left;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  #sidebar {
    .site-title {
      font-size: 3.25rem;

      a { color: white; }
      .back-arrow { display: none; }
    }

    p.lead, header ~ * {
      display: block;
    }

    header ~ nav {
      display: flex;
    }

    .narrow-nav { 
      display: none;
    }

  }
  .index #sidebar { margin-bottom: 0; }

  // Make entire container background white to contrast against sidebar
  .container {
    background: $body-bg;
    color: $body-color;
    padding: $section-spacing * 2;
    height: 100vh;

    > header {
      color: inherit;
      margin: 0;
      h1, h2 {
        color: inherit;

        &:last-child {
          margin-bottom: $heading-spacing;
        }
      }
    }

    > * {
      max-width: 38rem;
      padding: 0;
    }
  }
}

/* -----------------------------------------------------------
  Bottoms of pages, possibly footers.
----------------------------------------------------------- */

// Case studies nav styling
.index-case-studies {margin-bottom: 0rem;}

nav.more-case-studies {
    margin-bottom: 10rem;
    text-align: center;
    }

.more-case-studies > span:not(:last-of-type):after,
.index-case-studies > span:not(:last-of-type):after {
  content: ' | '
}

// To get the `new case studies coming soon` message onto the header line
div.follow {
  display: flex;
  align-items: baseline; // Aligns text baselines for a cleaner look
  gap: 0.25em; // Adjust as needed for spacing
  margin-bottom: 0rem;
}

div.follow p {
  font-size:0.8rem;
  font-weight: lighter;
  margin-bottom: 0rem;
}

footer {
  margin-top: 5rem;
  padding-bottom: 10rem;
  /*margin-bottom: 10rem;*/
  text-align: center;
  }

.floral-heart {
  font-size: 4rem; 
  }

/* -----------------------------------------------------------
  Sidebar links + nav
----------------------------------------------------------- */

#sidebar a {
  color: $body-bg;

  svg {
    fill: rgba(255, 255, 255, 0.85);
  }

  &:hover, &:focus, &.active {
    svg { fill: $nord6; }
  }

  &:hover, &:focus {
    text-decoration: underline;
    color: $link-color-active;
    &.icon {
      text-decoration: none;
    }
  }

  &.active {
    font-weight: bold;
  }

  &.case-study {
    padding-left: 1em;
  }
}

#sidebar header a {
    text-decoration: none;
    
    &:hover, &:focus {
    text-decoration: none;
    text-decoration-style: none;
    color: $link-color-active;
    &.icon {
      text-decoration: none;
        }
    }
}

#sidebar nav {
  display: flex;
}

#sidebar-nav-links {
  flex-flow: column nowrap;
}

#sidebar-icon-links {
  max-width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1rem;

  @media (min-width: $large-breakpoint) {
    margin-left: -0.25em;
    justify-content: flex-start;
  }
}

#sidebar nav > * {
  display: block;
  line-height: 1.75;
}

#sidebar nav > .icon {
  font-size: 1.5rem;
  display: inline-block;
  margin: 0 0.25em;
}


/* -----------------------------------------------------------
  Sticky sidebar

  Set $sidebar-stick variable to affix sidebar contents to the
  bottom of the sidebar in tablets and up.
----------------------------------------------------------- */

@if $sidebar-sticky {
  @media only screen and (min-width: $large-breakpoint) {
    body {
      align-items: flex-end;
    }
  }
}


/* -----------------------------------------------------------
  Reverse layout

  Flip the orientation of the page by placing the `#sidebar`
  on the right.
----------------------------------------------------------- */

@if $layout-reverse {
  @media only screen and (min-width: $large-breakpoint) {
    .container {
      order: -1;
    }
  }
}

.linkedin-svg {width: 1em;}