//bd4-nord-style1
// Thanks for the colors, https://arcticicestudio.github.io/nord/
$nord0: #2e3440;  //polar night -- dark gray for body text.
$nord1: #3b4252;  //polar night --
$nord2: #434c5e;  //polar night -- lighter dark gray for secondary text.
$nord3: #4c566a;  //polar night -- lightish dark gray for text backgrounds like with code.
$nord4: #d8dee9;  //snowstorm -- gray-white
$nord5: #e5e9f0;  //snowstorm -- more white than 4
$nord6: #eceff4;  //snowstorm -- more white than 5 -- white for page background
$nord7: #8fbcbb;  //frost -- sea foam green
$nord8: #88c0d0;  //frost -- sea foam blue
$nord9: #81a1c1;  //frost -- blueish white gray for light text on dark background.
$nord10: #5e81ac; //frost -- blue for links.
$nord11: #bf616a; //aurora -- most red.
$nord12: #d08770; //aurora -- orangish.
$nord13: #ebcb8b; //aurora -- warm muted yellow
$nord14: #a3be8c; //aurora greenish for code type color.
$nord15: #b48ead; //aurora -- mauve?

$body-bg: $nord6 !default;       // ho-orig: #fff 
$heading-color: $nord2 !default; // ho-orig: gray-6
$body-color: $nord2 !default;    // ho-orig: gray-5 -- primary type color
$body-muted: $nord2 !default;    // ho-orig: gray-4 -- meta text for example
$link-color: $nord10 !default;   // ho-orig: $blue
$link-color-active: $nord7 !default;
$bq-color: $nord2 !default;      //ho-orig: #7a7a7a

$root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !default;
$site-title-text: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !default;
$root-font-size: 1rem !default;
$root-line-height: 1.5 !default;

$code-font-family: Menlo, Monaco, "Courier New", monospace !default;
$code-color: $nord11 !default;
$text-bg-color: $nord4 !default;

$border-color: $nord2 !default; // used in blockquotes
$border-radius: 300px !default;
$padding-v: 1em !default;
$padding-h: 1.5em !default;
$heading-spacing: 0.5rem !default;
$section-spacing: 2rem !default;
$sidebar-width: 18rem !default;

$large-breakpoint: 49rem !default;
$large-font-size: 1.25rem !default;

$box-shadow-size: 1px !default;
$box-shadow-opacity: 0.16 !default;
$default-box-shadow: $box-shadow-size
                     $box-shadow-size
                     $box-shadow-size
                     rgba(0, 0, 0, $box-shadow-opacity);


// Hyde theming
$sidebar-bg-color: $nord2 !default; // #202020 was default;
$sidebar-sticky: true !default;
$layout-reverse: true !default;

//hydeout original colors
$gray-1: #f9f9f9 !default;
$gray-2: #e5e5e5 !default;
$gray-3: #ccc !default;
$gray-4: #767676 !default;
$gray-5: #515151 !default;
$gray-6: #313131 !default;

$red: #ac4142 !default;
$orange: #d28445 !default;
$yellow: #f4bf75 !default;
$green: #90a959 !default;
$cyan: #75b5aa !default;
$blue: #268bd2 !default;
$brown: #8f5536 !default;
//end hydeout original colors