{% comment %}
  Generate list of links to featured/recent portfolio pages. Shows high-quality, recent work.
{% endcomment %}
    {% if page.url contains 'portfolio' or page.url == '/' or page.category == "case-study" %}
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.category == "case-study" %}
            {% comment %} Show ReelSphere (2025) as featured case study {% endcomment %}
            {% if node.url contains 'reelsphere' %}
              <span><a class="case-study {% if page.url == node.url %}active{% endif %}" 
                    href="{{ site.baseurl }}{{ node.url }}">
                    {% if node.nav-title != null %}
                      {{ node.nav-title }}
                    {% else %}
                      {{ node.title }}
                    {% endif %}</a></span>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}