{% comment %}
  Dynamically generate list of links to all portfolio pages, only show if in the portfolio section or on home page.
{% endcomment %}
    {% if page.url contains 'portfolio' or page.url == '/' %}
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.category == "case-study" %}
          <span><a class="case-study {% if page.url == node.url %}active{% endif %}" 
                href="{{ site.baseurl }}{{ node.url }}">
                {% if node.nav-title != null %}
                  {{ node.nav-title }}
                {% else %}
                  {{ node.title }}
                {% endif %}</a></span>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
