{% comment %}
  Dynamically generate list of links to additional/older portfolio pages, excluding featured ones.
{% endcomment %}
    {% if page.url contains 'portfolio' or page.url == '/' or page.category == "case-study" %}
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.category == "case-study" %}
            {% assign display_title = node.nav-title | default: node.title %}
            {% if page.url == node.url %}
              <span><strong>{{ display_title }}</strong></span>
            {% else %}
              <span><a class="case-study" href="{{ site.baseurl }}{{ node.url }}">{{ display_title }}</a></span>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% comment %} Add resume link 
      {% for node in pages_list %}
        {% if node.title == "Résumé" %}
          <span><a class="case-study {% if page.url == node.url %}active{% endif %}" 
                href="{{ site.baseurl }}{{ node.url }}">Résumé</a></span>
        {% endif %}
      {% endfor %}
      {% endcomment %}
    {% endif %}
