---
layout: default
---

<header>
  <h1 class="page-title">{{ site.tagline }}</h1>
</header>
<div class="content">
    <p>{{ page.intro-text }}<br /> 
    <a title="View my current résumé as HTML." aria-label="HTML Resume"
     href="/portfolio/resume"> HTML&nbsp;Résumé
    </a>
    &middot; 
   
    <a title="View my current résumé on LinkedIn" aria-label="LinkedIn"
     href="https://linkedin.com/in/brianwchristiansen"> LinkedIn Profile
    {% include svg/linkedin.svg %}
    </a>
    &middot; 
    <a title="Exhange asynchronous greetings over the transom." href="mailto:brian@briandigital.com?subject=Oh%20The%20Opportunities">Contact&nbsp;Brian via&nbsp;email</a>
    </p>
    <nav class="index-case-studies">
        <div class="follow"><h4>2010-2019 Case Studies</h4><p>(new cases coming soon)</p></div>
        {% include portfolio-links.html %}
    </nav>
    {{ content }}
    <nav class="index-case-studies">
        <div class="follow"><h4>2010-2019 Case Studies</h4><p>(new cases coming soon)</p></div>
        {% include portfolio-links.html %}
    </nav>
</div>
